<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Market Spend </title>

</head>

<body>
  <section id="app">

    <div>
      <div>
        <form @submit.prevent="putSpendIntoAllSpending">
          <input type="text" name="spent" id="spent" v-model="spent" @keyup="formatValueInputToCurrency" placeholder="R$ 0,00" >
        </form>
        <button @click="clearAllSpending" > Clear All </button>
      </div>
    </div>

    <div>
      <ul>
        <li v-for="(value, index) in allSpending" :key="index"> 
          <p> {{ value | priceInReal }} <span @click="excludePrice( index )"> x </span></p>
        </li>
      </ul>
      <p></p>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="javascript/index.js"></script>
</body>

</html>
