<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Market Spend </title>

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <section id="app">

    <div class="container_left">
      <div class="box_input">
        <form @submit.prevent="putSpentIntoAllSpending">
          <input class="input_spent" type="text" name="spent" id="spent" v-model="spent" @keyup="formatValueInputToCurrency" placeholder="R$ 0,00" >
        </form>
        <button class="btn_clear_all" @click="clearAllSpending" > Clear All </button>
      </div>
    </div>

    <div class="container_rigth">
      <ul class="list_of_allspending">
        <li v-for="(value, index) in allSpending" :key="index"> 
          <div class="each_spent">
            <p class="each_value"> {{ value | priceInReal }} </p>
            <span class="btn_delete" @click="excludePrice( index )"> x </span>
          </div>
        </li>
      </ul>
      <p class="total_spend"> {{ totalSpend | priceInReal }} </p>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="javascript/index.js"></script>
</body>

</html>
